<h1 class="ui header center aligned">Songs</h1>

<table class="ui celled padded table">
  <thead class="center aligned">
    <tr>
      <th>Song Title</th>
      <th>Song Duration</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
    <tr class="center aligned">
      <td>
        <strong><%= link_to song.title, artist_song_path(@artist, song) %></strong>
      </td>
      <td><%= song.duration %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<div class="ui contianer">
  <button class="ui button">
    <%= link_to 'Back', artist_path(@artist) %>
  </button>
  <button class="ui button">
    <%= link_to 'New Song', new_artist_song_path(@artist) %>
  </button>
</div>
