<h1 class="ui huge header center aligned">Billboards</h1>

<table class="ui celled table">
  <thead class="center aligned">
    <tr>
      <th>Billboard Title</th>
      <th>Song Count</th>
    </tr>
  </thead>
  <tbody>
    <% @billboards.each do |billboard| %>
    <tr class="center aligned">
      <td><%= link_to billboard.name, billboard_path(billboard) %></td>
      <td><%= billboard.songs.count %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<div class="ui segment center aligned">
  <button class="ui button"><%= link_to 'New Billboard', new_billboard_path %></button>
  <button class="ui button"><%= link_to 'Artists', artists_path %></button>
</div>
