<h1>Add Song to: <%= @billboard.name %></h1>

<ul>
  <% @songs.each do |song| %>
    <li>
      <%= link_to song.info, add_billboard_song_path(@billboard, song), method: :post %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', billboards_path %>
