<div class="ui segment center aligned">
  <button class="ui button">
    <%= link_to 'Home', billboards_path %>
  </button>
  <button class="ui button">
    <%= link_to 'Artists', artists_path %>
  </button>
</div>
